/* PANIER */
/******police******/
h2 {
    text-align: center;
    color:#fff;
  }
  
  /******container********/
  .container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    background: #7b6b43;
  }
  
  .container .cardpanier {
    overflow: hidden;
    margin: 50px 15px;
    display: none;
    width: 70%;
    background: #faa80e;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
  }
  
  .recuppanier {
    border-radius: 15px;
  }
  
  .container .recuppanier {
    margin: 10px 0 10px 10px;
    width: 90%;
    padding: 15px 0px;
    background: #fff;
    margin-left: 25px;
  }
  
  .container .recuppanierrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .container .recuppanier .row {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 19px;
    text-decoration: underline;
  }
  
  .quantity {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .price {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .paniervide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .paniervide .verspaniervide {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .paniervide .verspaniervide:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .container .recuppaniername {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 120px;
    height: 50px;
    font-weight: bold;
  }
  
  /* FORMULAIRE */
  label {
    display: inline-block;
    width: 150px;
  }
  form.form {
    text-align: initial;
  }
  
  .container .panierform {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #352208;
    height: 100%;
  }
  
  .container .panierform .panierformrow {
    margin: 5px 0px;
  }
  
  a {
    text-decoration: none;
  }
  .commandebtn {
    width: 50%;
    margin-left: 25%;
  }
  
  /* --------------------------------------------------------------*/
  /* Style ajouté dans panier.js*/
  
  .container .cart-card__form__quantity {
    margin-bottom: 20px;
  }
  
  .container .cart-card__form__color {
    margin-bottom: 40px;
  }
  /* --------------------------------------------------------- */
  /*************bouttons*******************/
  .panierbtn,
  .pay {
    margin: 5px 0;
    width: 130px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #352208;
    background: #e1bb80;
    color: #000;
    font-size: 1.3rem;
  }
  
  .container .panierform .erreur {
    padding: 5px 0;
    color: red;
  }
  
  .container .panierform .pay:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .container .sipaniervide {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 90vh;
  }
  
  .container .sipaniervide h2 {
    margin-top: 75px;
  }
  
  .container .sipaniervide h2 a {
    color: #fff;
    text-decoration: underline;
  }
  
  .container .total {
    margin: 15px 15px 20px 15px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background: #fff;
    width: 20%;
  }
  
  /* --------------------------------------------------------------*/
  /* style ajouté dans panier.js */
  
  .title-remove {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .data-bin {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .data-quantity {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  /* --------------------------------------------------------------*/
  
  /* MEDIA QUERY pour le RESPONSIVE */
  @media (max-width: 612px) {
    .container .cardpanier {
      width: 100%;
      margin-top: 220px;
    }
    h1 {
      text-align: center;
      margin-top: 55px;
    }
    .container .recuppanier {
      margin-left: 5px;
      width: 95%;
    }
  }