/* MAIN */
main {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}

.color {
    color:#fff;
}

img {
    width:100%;
    height:250px;
    object-fit: cover;
}

.container {
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Style des produits sur la page index.html dynamiquement */

.peluche {
    display:flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    background-color: #faa80e;
    border-radius: 25px;
    margin-top: 10%;
    text-decoration: none;
    width: 60%;
}

/* .peluche:hover {
    background-color: #faa80e;
} */

img {
    width: 70%;
    height: 70%;
}

.alignprice {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    align-items: center;
}

/* Style sur le lien Acheter notre produit */

/* .product {
    background-color: rgb(161, 145, 145);
    text-decoration: none;
    color:black;
    margin: 20px;
    border: 5px solid #333;
    border-radius: 20px 20px 20px 20px;
} */

.product {
    width: 184px;
    background-color: #333;
    color:#fff;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
}

/* Style sur la page product.html */

#article {
    background-color: #faa80e;
}

.row {
    color:#333;
    width:90%;
    border-radius:5px;

}

.ajoutPanier {
    border:0;
    background-color:#f3e9f1;
    padding:12px;
    border-radius:15px;
    box-shadow: 0px 0px 8px 0px #fff;
    margin-left:5px;
}


/* Affichage des produits et caracteristiques */ 

/* .product-card__infos__buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
} */
  
/* .product-card__infos__quantity {
    margin-bottom: 20px;
} */
  
/* .product-card__infos__color {
    margin-bottom: 40px;
} */
  
/* .product-card__infos .added-to-cart-confirmation {
    visibility: hidden;
} */
  
/* .product-card__infos .added-to-cart-confirmation p {
    padding: 5px;
    background-color: #64c264;
    border: #368a36 1px solid;
} */
  
/* .product-card__infos .product-card__infos__button {
    padding: 20px;
    background: #e1bb80;
    border-radius: 5px;
    border: solid 1px #352208;
} */
  
/* .product-card__infos .back-to-home {
    background: #d8d8d8;
} */
  
/* .product-card__img {
    height: 50%;
    width: 100%;
    background: #444;
} */
  
/* .product-card__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
} */
  
#nounoursNum {
    width: 50px;
}